In [2]:
O = "Onkar"

In [3]:
list = "onkar" , 1, 2, 3, 7.5, "amazon" ,

In [5]:
float = (7.5)

In [6]:
tuple= ("onkar",12,25, "PW")

In [ ]:
#Q2. Given are some following variables containing data:

In [8]:
#(i) var1 = ‘ ‘ is sring 
#(ii) var2 = ‘[ DS , ML , Python]’  is a string.
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] this is list
#(iv) var4 = 1 this is Intr

In [ ]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [10]:
#/ Division Operator: The division operator / is used to perform division between two numbers 
10/2

5.0

In [11]:
#% (Modulus Operator): The modulus operator % is used to find the remainder of the division operation between two numbers.
10%2

0

In [14]:
#// (Floor Division Operator): The floor division operator // performs division between two numbers and returns the result rounded down to the nearest whole number 
10//4

2

In [15]:
# ** (Exponentiation Operator): The exponentiation operator ** is used to raise a number to a power. It calculates the value of the base raised to the exponent.
7**3

343

In [34]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

l = ["Onkar", 27, 9.14, True, None, "Hello", False, 25.4, 17]

for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>

In [35]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A = 100
B = 5

count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"Number A is divisible by number B {count} times.")

Number A is divisible by number B 2 times.

In [37]:
Onkar = [12, 8, 6, 45, 20, 27, 14, 36, 9, 10, 18, 25, 70, 21, 15, 24, 16, 33, 22, 11, 42, 25, 19, 13, 39]

for element in Onkar:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
8 is not divisible by 3.
6 is divisible by 3.
45 is divisible by 3.
20 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
36 is divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
18 is divisible by 3.
25 is not divisible by 3.
70 is not divisible by 3.
21 is divisible by 3.
15 is divisible by 3.
24 is divisible by 3.
16 is not divisible by 3.
33 is divisible by 3.
22 is not divisible by 3.
11 is not divisible by 3.
42 is divisible by 3.
25 is not divisible by 3.
19 is not divisible by 3.
13 is not divisible by 3.
39 is divisible by 3.

In [ ]:
#What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
# ANSwer Mutable data types in Python are those whose values can be modified after creation, while immutable data types are those whose values cannot be changed once created.

Examples of mutable data types:


List: Onkar = [1, 2, 3]
Dictionary: Onkar2 = {'key': 'value'}
Set: Onkar3 = {1, 2, 3}

Examples of immutable data types:

Integer:  = 5
String:  = "Hello"
Tuple:  = (1, 2, 3)